// template file meant for envsubst command from the gettext package
credentials = [
    [
        'credential_type': 'UsernamePasswordCredentialsImpl',
        'credentials_id': 'clone-https',
        'description': 'Username and password used to clone over HTTP.',
        'user': '${DEMO_GITHUB_USER}',
        'password': '${DEMO_GITHUB_TOKEN}'
    ],
    [
        'credential_type': 'StringCredentialsImpl',
        'credentials_id': 'github-token',
        'description': 'A token used to read job metadata from GitHub API.  This will be used during job generation.',
        'secret': '${DEMO_GITHUB_TOKEN}'
    ],
    [
        'credential_type': 'StringCredentialsImpl',
        'credentials_id': 'webhook-shared-secret',
        'description': 'A unique string which webhooks sent from GitHub use to authenticate with Jenkins on the webhook callback URL.  This prevents anonymous webhook data from being submitted back to Jenkins.',
        'secret': '${DEMO_UUID}'
    ]
]

